// options
$spacer: 1rem;
$enable-flex: false;
$enable-rounded:	true;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions:	true;
$enable-hover-media-query: false;

$border-width: 1px;
$border-radius: .25rem;

$brand-primary:             #0275d8 !default;

// typography
$font-family-sans-serif: 'Lato', sans-serif !default;